@model PostCore.MainApp.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password";
    Layout = "_MainLayout";
}

<div asp-validation-summary="All" class="text-danger"></div>

<div class="card m-2">
    <h5 class="card-header">Change password :</h5>
    <div class="card-body">
        <form asp-action="ChangePassword" method="post">
            <input asp-for="UserId" />
            <input asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="CurrentPassword"></label>
                <div><span asp-validation-for="CurrentPassword" class="text-danger"></span></div>
                <input asp-for="CurrentPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <div><span asp-validation-for="NewPassword" class="text-danger"></span></div>
                <input asp-for="NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordRepeat"></label>
                <div><span asp-validation-for="NewPasswordRepeat" class="text-danger"></span></div>
                <input asp-for="NewPasswordRepeat" class="form-control" />
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Change</button>
                <a href="@Model.ReturnUrl" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>