<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostCore - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/postcorejs/PostCoreJs.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            PostCore post automation
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @await Component.InvokeAsync(nameof(ApplicationAreas))
            @await Component.InvokeAsync(nameof(MyBranch))
            @await Component.InvokeAsync(nameof(Account))
        </div>
    </nav>
    <div class="p-2">
        @if (TempData["message"] != null)
        {
            var message = TempData["message"] as PostCore.MainApp.ViewModels.Message.MessageViewModel;
            var alertClass = "";
            switch (message.Type)
            {
                case PostCore.MainApp.ViewModels.Message.MessageType.Info:
                    alertClass = "alert-success";
                    break;
                case PostCore.MainApp.ViewModels.Message.MessageType.Error:
                    alertClass = "alert-danger";
                    break;
            };

            <div class="alert @alertClass">@message.Message</div>
        }
        @RenderBody()
    </div>
</body>
</html>