@model PostCore.MainApp.ViewModels.Users.EditViewModel
@{
    ViewData["Title"] =
        Model.EditorMode == PostCore.ViewUtils.EditorMode.Create
            ? "Create user"
            : "Edit user";
    Layout = "_MainLayout";
}
@{
    var saveButtonText = Model.EditorMode == PostCore.ViewUtils.EditorMode.Create
            ? "Create"
            : "Save";
}
<div asp-validation-summary="All" class="text-danger"></div>
<div class="card m-2">
    <h5 class="card-header">User info:</h5>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input asp-for="Id" />
            <input asp-for="EditorMode" />
            <input asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="UserName"></label>
                <div><span asp-validation-for="UserName" class="text-danger"></span></div>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <div><span asp-validation-for="Email" class="text-danger"></span></div>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <div><span asp-validation-for="LastName" class="text-danger"></span></div>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="text-center">
                @if (Model.EditorMode == PostCore.ViewUtils.EditorMode.Update)
                {
                    <button class="btn btn-primary" asp-action="ResetPassword" type="submit">Reset password</button>
                }
                <button class="btn btn-primary" type="submit">@saveButtonText</button>
                <a href="@Model.ReturnUrl" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>