@model string

@{
    ViewBag.Title = "Index";
    Layout = "_MainLayout";
}

<h1 class="bg-dark text-center text-white">@Model</h1>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <a asp-action="SayHello" class="btn btn-primary">Say hello!</a>
        </div>
    </div>
</div>

@await Component.InvokeAsync(nameof(Dummy),
    new
    {
        header = "Dummy ViewComponent header",
        message = "Dummy ViewComponent message"
    })