@model PostCore.ViewUtils.ViewComponents.MyBranchViewModel

@if (Model.Visible)
{
    <ul class="navbar-nav mr-1">
        <li class="nav-item">
            <a asp-action="Index"
               asp-controller="MyBranch"
               asp-route-returnUrl="@Model.CurrentUrl"
               class="btn btn-primary">
                My branch: <b>@Model.MyBranchName</b>
            </a>
        </li>
    </ul>
}